apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: beryjuorg-mimir
  namespace: mimir
spec:
  secretStoreRef:
    name: vault-kv
    kind: ClusterSecretStore
  target:
    template:
      data:
        config.yaml: |
          multitenancy_enabled: false
          target: all
          server:
            log_level: info
            log_format: json

          memberlist:
            abort_if_cluster_join_fails: false
            message_history_buffer_bytes: 1024
            cluster_label: beryjuio-mimir-prod
            # gossip_nodes: 2
            gossip_interval: 500ms
            retransmit_factor: 8
            advertise_addr: "$${POD_IP}"
            join_members:
              - dns+mimir-headless.mimir.svc.cluster.local.:7946

          blocks_storage:
            backend: s3
            s3:
              endpoint: minio-prd.minio.svc.cluster.local:9000
              insecure: true
              bucket_name: mimir
              access_key_id: "{{ .access_key }}"
              secret_access_key: "{{ .secret_key }}"
            tsdb:
              dir: /data/tsdb
              flush_blocks_on_shutdown: true

          compactor:
            data_dir: /data/compactor
            sharding_ring:
              kvstore:
                store: memberlist

          distributor:
            ring:
              kvstore:
                store: memberlist

          ingester:
            ring:
              kvstore:
                store: memberlist
              replication_factor: 1
              final_sleep: 0s
              num_tokens: 512
              tokens_file_path: /data/tokens
              unregister_on_shutdown: false
              zone_awareness_enabled: true
          ingester_client:
            grpc_client_config:
              max_recv_msg_size: 104857600
              max_send_msg_size: 104857600

          ruler:
            ring:
              kvstore:
                store: memberlist
            rule_path: /data/ruler
            alertmanager_url: http://beryjuio-alertmanager.monitoring-system.svc.cluster.local:9093

          store_gateway:
            sharding_ring:
              replication_factor: 1

          ruler_storage:
            backend: s3
            s3:
              endpoint: minio-prd.minio.svc.cluster.local:9000
              insecure: true
              bucket_name: mimir-ruler
              access_key_id: "{{ .access_key }}"
              secret_access_key: "{{ .secret_key }}"

          limits:
            max_label_names_per_series: 100           # default 30
            max_global_series_per_user: 1_500_000     # default 150_000
            max_global_series_per_metric: 200_000     # default 0
            ingestion_rate: 30_000                    # default 10_000
            ingestion_burst_size: 400_000             # default 200_000
            ruler_max_rules_per_rule_group: 500       # default 20
            compactor_blocks_retention_period: 1y     # default 0s
            out_of_order_time_window: 1h              # default 0s
  dataFrom:
    - extract:
        key: kv/services/thanos
