apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: local-path-storage
resources:
  - https://github.com/rancher/local-path-provisioner/deploy?ref=v0.0.34
images:
  - name: rancher/local-path-provisioner
    newName: proxy.registry.beryju.io/rancher/local-path-provisioner
patches:
  - target:
      kind: StorageClass
      name: local-path
    patch: |-
      - op: add
        path: /metadata/annotations/storageclass.kubernetes.io~1is-default-class
        value: "true"
