apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: imagik
  name: imagik
  namespace: minio
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: imagik
  template:
    metadata:
      labels:
        app.kubernetes.io/name: imagik
    spec:
      containers:
      - command:
        - /imagik
        - -c=/config.yml
        envFrom:
        - configMapRef:
            name: imagik-config
        image: ghcr.io/beryju/imagik:latest-1660895811-d3407e8b3828ed2dbb05a9089c5ecc8976419c33 # {"$imagepolicy": "flux-system:imagik"}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /api/pub/health/liveness
            port: http
            scheme: HTTP
        name: imagik
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        - containerPort: 9300
          name: http-metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /api/pub/health/readiness
            port: http
            scheme: HTTP
          failureThreshold: 20
          successThreshold: 1
          initialDelaySeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 250M
          requests:
            cpu: 10m
            memory: 10M
