apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-deployment
  namespace: minio
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: minio
  template:
    metadata:
      labels:
        app.kubernetes.io/name: minio
    spec:
      containers:
        - command:
            - sh
          args:
            - -c
            - "sleep 30 && minio server --console-address :9001 /storage"
          env:
            - name: MINIO_PROMETHEUS_URL
              value: http://mimir.mimir.svc.cluster.local/prometheus
            - name: MINIO_PROMETHEUS_JOB_ID
              value: minio-prd
            - name: MINIO_DOMAIN
              value: s3.beryju.org,minio.prd.beryjuorg
            - name: MINIO_IDENTITY_OPENID_CLIENT_ID
              value: AxPVXlbHsGeud4XFw3HdN6RnnX5awvC6d7N5mjsl
            - name: MINIO_IDENTITY_OPENID_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: minio
                  key: oidc_secret
            - name: MINIO_IDENTITY_OPENID_CONFIG_URL
              value: https://id.beryju.org/application/o/minio-s3/.well-known/openid-configuration
            - name: MINIO_IDENTITY_OPENID_SCOPES
              value: openid,profile,email,minio
            - name: MINIO_BROWSER_REDIRECT_URL
              value: https://console.s3.beryju.org
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: minio
                  key: root_user
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: minio
                  key: root_password
          image: quay.io/minio/minio:RELEASE.2022-08-26T19-53-15Z
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /minio/health/live
              port: 9000
              scheme: HTTP
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
            initialDelaySeconds: 30
          name: minio
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
            - containerPort: 9001
              name: http-console
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /minio/health/ready
              port: 9000
              scheme: HTTP
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
            initialDelaySeconds: 30
          resources: {}
          volumeMounts:
            - mountPath: /storage
              name: storage
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: minio-pv-claim
