name: loki-rules-sync

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Get authentik token
        id: authentik-token
        uses: goauthentik/configure-authentik-credentials@v1
        with:
          authentik_url: https://id.beryju.io
          client_id: 6qC6wfLtRuwQIPfBG0K0hWhMZJJbm7dwwjl9ixyM
      - name: sync-rules
        uses: grafana/cortex-rules-action@v0.10.0
        env:
          CORTEX_ADDRESS: https://loki.lab.beryju.io
          CORTEX_TENANT_ID: fake
          CORTEX_API_USER: "goauthentik.io/token"
          CORTEX_API_KEY: ${{ steps.authentik-token.outputs.token }}
          ACTION: sync
          RULES_DIR: "./monitoring/loki/"
          BACKEND: loki
