---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: cluster-settings
data:
  # MetalLB
  METALLB_PEER: "10.120.20.1"
  METALLB_PEER_ASN: "64517"
  METALLB_ASN: "65553"
  METALLB_RANGE: "10.120.21.0/28"
  METALLB_PROTOCOL: bgp
  # Vault
  VAULT_AUTH_PATH: "auth/k8s-defr"
  # Cluster name
  CLUSTER_NAME: "beryjuorg-defr"
  # Ingress public IP
  INGRESS_IP: "10.120.21.1"
  INGRESS_TRAFFIC_POLICY: "Local"
